@import "welcome.css";

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: khaki;
}

.header-block {
    width: 25vw;
}

nav {
    display: flex;
    justify-content: flex-end; /* boutons alignés à droite*/
    width: 25vw; /* taille nav bar*/
    margin-right: 1%; /* gestion marge ) droite*/
}

.nav-btn {
    padding: 2%;
    background-color: rgb(10,20,255);
    color: white;
    text-decoration: none;
}

.nav-btn:hover, .current-btn {
    background-color: rgb(10, 157, 255);
}

.nav-btn-hidden{
    display: none;
}

h1 {
    color: rgb(10, 157, 255);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid;
    border-width: 1px;
    border-top-style: dashed;
    padding: 0.5%;
}